<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>{{head.title}}</title>

    <link type="image/x-icon" rel="icon" href="/public/favicon.ico">
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <script src="/public/js/functions.js"></script>
    <script src="/public/js/Auth.js"></script>
    <header class="header">
        <a href="/">
            <img src="/public/img/logo.png" alt="">
        </a>
        <ul class="header__nav-list">
            {{navData}}
        </ul>
    </header>
    <main class="content">
        {{children}}
    </main>
    <footer class="footer">
        <a href="/">
            <img src="/public/img/logo.png" alt="">
        </a>
        <span>©Pizza, all rights reserved</span>
    </footer>
</body>
</html>
